[submodule "learn-projects/rudo"]
	path = learn-projects/rudo
	url = git@github.com:XuHaoJun/rudo.git
[submodule "learn-projects/leptos"]
	path = learn-projects/leptos
	url = git@github.com:leptos-rs/leptos.git
[submodule "learn-projects/flutter"]
	path = learn-projects/flutter
	url = git@github.com:flutter/flutter.git
[submodule "learn-projects/xilem"]
	path = learn-projects/xilem
	url = git@github.com:linebender/xilem.git
